In [3]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport

In [4]:
df_tendance_composition = pd.read_csv("data_h&m_tendance_compo.csv")
df_tendance_clothes = pd.read_csv("data_h&m_tendnace_clothes.csv")
higgs_score = pd.read_csv("higgs_score_materials.csv")

In [5]:
# Mettre les données en minuscules
df_tendance_composition = df_tendance_composition.applymap(lambda x: x.lower() if isinstance(x, str) else x)

# Mettre les noms de colonnes en minuscules
df_tendance_composition.rename(columns=lambda x: x.lower(), inplace=True)

df_tendance_composition.drop(columns = "unnamed: 0", inplace = True)

df_tendance_composition.head()

   product_id              layer   material  percentage
0  1166969003           doublure  polyester       100.0
1  1166969003  couche extérieure  polyester       100.0
2  1166969003            bordure  polyester       100.0
3  1142215002           doublure  polyester       100.0
4  1142215002  couche extérieure  polyester        61.0

In [6]:
# Mettre les données en minuscules
df_tendance_clothes = df_tendance_clothes.applymap(lambda x: x.lower() if isinstance(x, str) else x)

# Mettre les noms de colonnes en minuscules
df_tendance_clothes.rename(columns=lambda x: x.lower(), inplace=True)

df_tendance_clothes.drop(columns = "unnamed: 0", inplace = True)

df_tendance_clothes.head()

   product_id gender clothes         color                        price
0  1166969003  femme    robe  cream/floral  \r\n                39,99 €
1  1142215002  femme  blouse          noir  \r\n                49,99 €
2  1159122003  femme    robe          vert  \r\n                59,99 €
3  1159122001  femme    robe          noir  \r\n                59,99 €
4  1157667001  femme    robe          noir  \r\n                79,99 €

In [7]:
# Mettre les données en minuscules
higgs_score = higgs_score.applymap(lambda x: x.lower() if isinstance(x, str) else x)

# Mettre les noms de colonnes en minuscules
higgs_score.rename(columns=lambda x: x.lower(), inplace=True)

higgs_score.head()

,name,globalwarmingpts,eutrophicationpts,waterscarcitypts,abioticdepletionpts,chemistrypts,impact,waterconsumption,biogeniccarbon
0,monolithic laminate,4.518294,0.958347,0.146292,7.888935,4.872923,18.384790,30.981163,0.0000
1,goose down insulation,1.528904,3.918803,0.269525,0.754759,6.928230,13.400220,14.924221,0.8944
2,duck down insulation,1.528904,3.918803,0.269525,0.754759,6.928230,13.400220,14.924221,0.0000
3,iron,2.345487,0.594290,0.036951,1.912598,4.863257,9.752583,7.202557,0.0000
4,tin,20.558422,59.770568,5.945609,17.582154,5.854645,109.711399,300.507836,0.0000

In [23]:
higgs_score["name"].sort_values().unique()

array(['acetate, triacetate fabric', 'acrylic fabric',
       'acrylonitrile butadiene styreneâ\xa0(abs) plastic',
       'alpaca fabric', 'aluminum', 'animal-based leather alternatives',
       'aramid fabric', 'bicomponent coating', 'bicomponent laminate',
       'brass', 'butyl rubber', 'carbon fiber fabric', 'cardboard',
       'chloroprene rubber (neoprene)', 'chromium', 'copper', 'cork',
       'cotton fabric', 'cow leather', 'duck down insulation',
       'elastane/spandex  fabric', 'epoxy plastic',
       'ethylene propylene diene elastomer (epdm)',
       'ethylene-vinyl acetate (eva) foam',
       'expanded polystyrene (eps) foam', 'flax fiber fabric',
       'foamed rubber', 'glass fiber fabric', 'goat leather', 'gold',
       'goose down insulation', 'hemp fiber fabric', 'iron',
       'isoprene rubber (ir)', 'jute fiber fabric', 'kangaroo leather',
       'lead', 'lyocell fabric', 'microporous coating',
       'microporous laminate', 'modal fabric', 'monolithic coating',
       'monolithic laminate', 'natural rubber (nr)', 'nickel',
       'nitrile rubber (nbr)', 'nylon fabric',
       'nylon/polyamide (pa) plastic', 'paper', 'pig leather',
       'plant-based leather alternatives', 'platinum',
       'poly(methyl methacrylate)â\xa0(pmma) (acrylic) plastic',
       'polybutadiene rubber (br)', 'polycarbonate (pc) plastic',
       'polyester fabric', 'polyester insulation', 'polyester plastic',
       'polyethylene (pe) fabric', 'polyethylene (pe) foam',
       'polyethylene (pe) plastic', 'polylactic acid (pla) fabric',
       'polylactic acid (pla) plastic', 'polyoxymethylene (pom) plastic',
       'polypropylene (pp) fabric', 'polypropylene (pp) plastic',
       'polypropylene insulation', 'polysterene (ps) plastic',
       'polytetrafluoroethylene (ptfe) plastic',
       'polytrimethylene terephthalate (ptt) fabric',
       'polyurethane (pu) fabric', 'polyurethane (pu) foam',
       'polyurethane (pu) synthetic leather',
       'polyvinyl acetate (pva) plastic', 'polyvinyl chloride (pvc) foam',
       'polyvinyl chloride (pvc) plastic', 'reptile leather',
       'sheep wool insulation', 'silicone plastic', 'silicone rubber',
       'silk fabric', 'silver', 'steel', 'styrene-butadiene rubber (sbr)',
       'thermoplastic elastomer (tpe)',
       'thermoplastic elastomer (tpe) foam',
       'thermoplastic polyurethane (tpu) plastic',
       'thermoplastic polyurethane (tpu) rubber',
       'thermoset polyurethane (pu) plastic',
       'thermoset polyurethane (pu) rubber', 'tin', 'titanium',
       'typical eva shoe compound', 'typical footwear rubber compound',
       'viscose/rayon fabric', 'wood', 'wool fabric', 'zinc'],
      dtype=object)

In [8]:
df_tendance_composition["material"].sort_values().unique()

array(['caoutchouc', 'caoutchouc thermoplastique', 'coton', 'cuir',
       'cuir velours', 'fibre métallisée', 'jute', 'lin', 'lyocell',
       'papier', 'polyamide', 'polyester', 'polypropylène',
       "polytéréphtalate d'éthylène", 'polyuréthane',
       'polyuréthane thermoplastique', 'soie', 'viscose', 'élasthanne',
       'élastodiène', 'éthylène-acétate de vinyle'], dtype=object)

In [9]:
df_tendance_composition[df_tendance_composition["material"]== 'cuir velours']

      product_id               layer      material  percentage
1456  1159243001  semelle intérieure  cuir velours       100.0
1458  1159243001              dessus  cuir velours       100.0
1459  1048956007                 NaN  cuir velours       100.0
1460  1170059011                 NaN  cuir velours       100.0
1461  1145258002                 NaN  cuir velours       100.0
1462  1169063002                 NaN  cuir velours       100.0

In [10]:
higgs_score[higgs_score["name"].isin(["cow leather", "goat leather", "kangaroo leather", "pig leather", "reptile leather"])]

,name,globalwarmingpts,eutrophicationpts,waterscarcitypts,abioticdepletionpts,chemistrypts,impact,waterconsumption,biogeniccarbon
36,reptile leather,2.176843,11.276761,0.571195,2.278488,7.866120,24.169409,47.836694,0.000
46,pig leather,9.499062,24.656373,0.472354,7.826683,40.688995,83.143468,41.757148,4.160
47,kangaroo leather,8.951411,7.084093,1.942742,9.267080,28.248804,55.494129,118.200210,1.755
90,cow leather,34.608943,79.575429,10.106124,14.045763,40.688995,179.025254,703.188410,1.755
91,goat leather,9.499062,24.656373,0.472354,7.826683,40.688995,83.143468,41.757148,1.755

In [12]:
higgs_score[higgs_score["name"]== 'cuir velours']

Empty DataFrame
Columns: [name, globalwarmingpts, eutrophicationpts, waterscarcitypts, abioticdepletionpts, chemistrypts, impact, waterconsumption, biogeniccarbon]
Index: []

In [13]:
ProfileReport(df_tendnace_clothes.drop("product_id", axis = 1))

NameError: name 'df_tendnace_clothes' is not defined